@import url('https://fonts.googleapis.com/css?family=Bungee|Prata');
body {
  background: rgb(0, 5, 5);
}

h2 {
  padding: 50px 25px;
  padding-bottom: 10px;
  margin: 0 auto;
  max-width: 1280px;
  vertical-align: middle;
  text-align: center;
  color: rgb(255, 255, 240);
  font-family: 'Prata', serif;
  font-weight: 100;
  font-size: 1.5em;
}

.box {
  width: 20px;
  height: 100px;
  background-color: rgb(255, 255, 240);
  margin: 0 auto;
  margin-bottom: 40px;
  vertical-align: middle;
  border-radius: 2px;
  transition: width 4s, height 4s, border-radius 5s;
}

.box:hover {
  width: 800px;
  height: 40px;
  border-radius: 8px;
}

.last:hover {
  width: 250px;
  height: 40px;
  border-radius: 8px
}

a {
  padding: 25px 25px;
  margin: 0 auto;
  max-width: 1280px;
  vertical-align: middle;
  text-align: center;
  color: rgb(255, 255, 240);
  font-family: 'Prata', serif;
  font-weight: 100;
  font-size: 1em;
}

.end {
  padding: 25px 25px;
  margin: 0 auto;
  max-width: 1280px;
  vertical-align: middle;
  text-align: center;
  color: rgb(255, 255, 240);
  font-family: 'Prata', serif;
  font-weight: 100;
  font-size: 2em;
  width: 500px;
}

.link {
  padding: 25px 25px;
  margin: 0 auto;
  max-width: 1280px;
  vertical-align: middle;
  text-align: center;
  color: rgb(255, 255, 240);
  font-family: 'Prata', serif;
  font-weight: 100;
  font-size: 1.5em;
  width: 500px;
}

.poem {
  padding: 25px 25px;
  margin: 0 auto;
  max-width: 1280px;
  vertical-align: middle;
  text-align: center;
  color: rgb(255, 255, 240);
  font-family: 'Prata', serif;
  font-weight: 100;
  font-size: 1em;
  width: 500px;
}

#poem_title {
  padding: 50px 25px;
  margin: 0 auto;
  max-width: 1280px;
  vertical-align: middle;
  text-align: center;
  color: rgb(255, 255, 240);
  font-family: 'Prata', serif;
  font-weight: 100;
  font-size: 3em;
}

.expand_text {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  vertical-align: middle;
  text-align: left;
  color: rgb(255, 255, 240);
  font-family: 'Prata', serif;
  font-weight: 100;
  font-size: 2em;
  width: 750px;
  opacity: 0;
  transition: opacity 4s;
}

.expand_textend {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  vertical-align: middle;
  text-align: center;
  color: rgba(255, 255, 240, 1);
  font-family: 'Prata', serif;
  font-weight: 100;
  font-size: 2em;
  width: 700px;
  opacity: 0;
  transition: opacity 4s;
}

.box:hover+.expand_text {
  display: block;
  opacity: 1;
}

.last:hover+.expand_textend {
  display: block;
  opacity: 1;
}

.spacer {
  height: 500px;
}

.small_spacer {
  height: 100px;
}
