/*------General Styles------*/
body, html {
 	 height: 100%;
 	 margin: 0;
 	 font: 400 15px/1.8 "Lato", sans-serif;
}

h3 {
  	letter-spacing: 5px;
 	text-transform: uppercase;
 	font: 20px "Lato", sans-serif;
  	color: #111;
}

* {
    box-sizing: border-box;
}




/*------Paralax Images------*/
.pximg1, .pximg2 {
 	position: relative;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover
}

.pximg1 {
	background-image: url(images/tiger.jpg);
	min-height: 100%;
}

.pximg2 {
	background-image: url(images/tiger2.jpg);
	min-height: 200px;
}

.border {
    color: #fff;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
    transition: all .5s;
}

.bordersub {
    color: #fff;
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    background-color: black;
    padding: 5px 5px;
    border-radius: 3px;
    transition: all .5s;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}









/*------B-Menu------*/
.bmenu {
	flex-wrap: wrap;
	background-color: black;
	padding: 10px 40px;
	width: auto;
	text-align: center;
   	transition: all .5s;
}

h3.navit {
	font-size: .9rem;
	text-align: center; 
	display: inline-block;
	padding: 5px 30px;
	color: #fff;
	transition: all .5s;
}

h3.navitb {
  font-size: .9rem;
  text-align: center; 
  display: inline-block;
  padding: 5px 30px;
  transition: all .5s;
  background-color: #D89232; 
  border-radius: 3px; 
  color: #000; 
  font-weight: 600;"
}

h3.navit:hover {
	font-size: .95rem;
}

h3.navitb:hover {
  font-size: .95rem;
}








/*------Geospatial Data Map------*/
#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }







/*------Paragraph------*/
.wparagraph {
	color: #555;
	background-color: #fff;
	padding: 10px 15vw;
	text-align: justify;
}

.paragraph {
  background: white; 
  padding: 15px 20px;
  column-count: 3;
  column-rule: 1px solid;
  column-gap: 60px;
  transition: all .5s;
}

.disc {
  background: white; 
  padding: 15px 20px;
  column-count: 1;
  transition: all .5s;
}








/*------Colums------*/
.column {
    float: left;
    width: 50%;
    padding: 10px;
    padding-right: 0; 
    padding-left: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.paragraphcl {
  background: white; 
  padding: 15px 20px;
  border-right-width: 1px;
  border-right-style: solid; 
  border-right-color: black; 
  padding-top: 0px;
}

.paragraphcr {
  background: white; 
  padding: 15px 20px;
  transition: all .5s;
  padding-top: 0px;
}

.paragraphcl2 {
  background: black; 
  padding: 15px 30px;
  margin: 0px 0px;
  border-radius: 10px;
  text-align: center;
}

.paragraphcr2 {
  background: black; 
  padding: 15px 30px;
  margin: 0px 0px;
  border-radius: 10px;
  text-align: center;
}

#ti {
	font-style: normal;
	letter-spacing: 5px;
 	text-transform: uppercase;
 	font-size: 15px;
  	color: white;

}





@media only screen and (max-width: 1350px) {
    .paragraph {
     	column-count: 2;
	}

	.disc {
  		column-count: 1;
	}


}
@media only screen and (max-width: 1050px) {
   	.column {
    	float: left;
    	width: 100%;
    	padding: 10px;
    	padding-right: 0; 
    	padding-left: 0;
	}

	.paragraphcl {
	  	border-right-width: 0px;
	}

	.paragraph {
     	column-count: 1;
	}

	.disc {
  		column-count: 1;
	}
}

@media only screen and (max-device-width: 1024px) {
    .pximg1 {
   		background-attachment: scroll;
    }

    .pximg2 {
   		background-attachment: scroll;
    }


    .wparagraph {
    	padding:10px 5vw;
    }

    h3.navit {
        font-size: .7rem;
      	background: black;
     	padding: 5px 10px;
      	font-weight: bold;
    } 

    h3.navitb {
        font-size: .7rem;
      	background: #D89232;
      	padding: 5px 10px;
      	font-weight: bold;
    }   

    h3.navit:hover {
      	color: #fff;
      	font-size: .9rem;
    }

    h3.navitb:hover {
      	color: #000;
      	font-size: .9rem;
    }

    .border {
     	 color: #fff;
      	font-size: 20px;
      	letter-spacing: 10px;
      	text-transform: uppercase;
    }

    .bordersub {
      	color: #fff;
      	font-size: 15px;
      	letter-spacing: 10px;
     	text-transform: uppercase;
      	background-color: black;
      	padding: 5px 5px;
      	border-radius: 3px;
    }

}