/*------General Styles------*/
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}


/*------Paralax Images------*/
.pximg-1 {
 	position: relative;
  	opacity: 0.65;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover
}

.pximg-1 {
	background-image: url(images/tiger.jpg);
	min-height: 100%
}

.border {
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/*------White Box Paragraph------*/
.bxwhite {
	color: #777;
	background-color:white;
	text-align:center;
	padding:50px 80px;
	text-align: justify;
}



}

