/*------General Styles------*/
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}


/*------Paralax Images------*/
.pximg-1 {
 	position: relative;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover
}

.pximg-1 {
	background-image: url(images/tiger.jpg);
	min-height: 100%;
}

.border {
    color: #fff;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.border-sub {
    color: #fff;
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    background-color: black;
    padding: 5px 5px;
    border-radius: 3px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

@media only screen and (max-device-width: 1024px) {
    .pximg-1 {
        background-attachment: scroll;
    }
}

/*------B-Menu------*/
.b-menu {
	flex-wrap: wrap;
	background-color: #000;
	padding: 10px 40px;
	width: auto;
	text-align: center;
}

h3.navit {
	font-size: .9rem;
	text-align: center; 
	display: inline-block;
	padding: 5px 30px;
	color: #fff;
}

/*------White Box Paragraph------*/
.w-paragraph {
	color: #555;
	background-color: #ccc;
	padding:50px 15vw;
	text-align: justify;
}

/*------Statistics------*/
.g-statistics {
	color: #777;
	background-color: #fff;
	padding:50px 15vw;
	text-align: justify;
	display: inline-block;
}

.map-1 {
	width: 50vw;
	height: auto;
	margin-left: 10vw;
}

